@model IEnumerable<BlogProject_Http5112.Models.Article>
    
@{ViewBag.Title = "List";
}

<h2>List of Articles</h2>

@foreach (var article in Model)
            {
                <div>
                    <a href="/Article/Show/@article.ArticleId">@article.ArticleTitle </a>
                </div>

            }