@model IEnumerable<BlogProject_Http5112.Models.Author>

@{
    ViewBag.Title = "List";
}

<h2>List of Authors</h2>
<p>This page should be showing information about all authors</p>

<nav>
    <a href="/Author/New">New Author</a>
</nav>

<div id="containerlist">
    <h2>List of Authors</h2>
    <form action="List" method="get">
        <input type="text" name="searchKey" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var author in Model)
    {
        <div>
            <a href="/Author/Show/@author.Authorid">@author.AuthorFname @author.AuthorLname</a>
        </div>

    }

</div>