@model BlogProject_Http5112.Models.Author
@{
    ViewBag.Title = "Show";
}


<div id="containershow">
    <nav>
        <a id="navlink" href="/Author/List">Back To Authors</a>
        <a id="dellink" style="float:right; color:red;" href="/Author/DeleteConfirm/@Model.Authorid">Delete</a>
    </nav>
    <h2>@Model.AuthorFname @Model.AuthorLname</h2>
    <p>Member Since @Model.AuthorJoinDate</p>
    <p>@Model.AuthorBio</p>
</div>
